.body {
    position: relative;

}

.small {
    position: absolute;
    display: flex;
    bottom: 0;
    padding-left: 3px;

}

.button {
    padding: 0 45px;
    color: aliceblue;
    background-color: blueviolet
}

.card-body {
    background-color: cornflowerblue
}

.body-text {
    color: white;
}

.name {
    font-size: larger;
    color: dodgerblue;
    font-weight: 700;
}

.fontAwesome {
    color: orange;
}